
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


/* ---------------------------------navbar left part styling-----------------------  */
/* navbar parent */
.navbar {
  height: 56px;
  box-sizing: border-box;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  top: 0;
  position: fixed;
  background-color: black;
  z-index: 10;
}

/* left navbar parent  */
.navbar-left {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

/* hamburger menu styling*/
.hamburger_menu {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* left navbar logo */

.ytlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

/* youtube - icon  */
.yt_icon {
  color: red;
  font-size: 34px;
  margin-right: 3px;
}

/* yt title  */
.yt_titile {
  font-size: 24px;
  word-spacing: 0px;
  letter-spacing: 0px;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ---------------------------------navbar middle part styling-----------------------  */

/* navbar middle parent */
.navbar-middle{
    display: flex;
    width: 50%;
    gap: 10px;
}

/* search bar styling */
.navbar-Searchbar{
    width: 80%;
    display: flex;
}

.navbarSearchbarInput{
    width: 100%;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid rgb(58,57,57);
    background-color: #121212;
    color: white;
    font-size: 16px;
    padding-left: 30px;
    &:focus{
        outline: none;
    }
    &::placeholder{
        font-size: 16px;
    }
}

.navbarSearchIconBox{
    cursor: pointer;
    width: 70px;
    border: 1px solid rgb(42,42,42);
    background-color: rgb(42,42,42);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbarVoiceSearchIconBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px !important;
    height: 40px;
    margin-left: 5px;
    background-color: rgb(42,42,42);
    border-radius: 50%;
    cursor: pointer;
}


/* -----------------------------------------------right navbar part -------------------------------------- */

.navbar-right{
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-right img{
    width: 30px;
    border-radius: 50%;
    background-color: white;
}

.navbar-model{
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 20;
    color: white;
}

.navbar-model-option{
    background-color: rgb(85,85,85);
    padding: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        background-color: rgb(34,33,33);
    }
}
